body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif
    
}

.title-styling {
    font-size: 30px;
    font-weight: 700;
    

}

.description-styling {
    font-size: 11px;

}